<div>

<h2>Book detail</h2>
<table claass="table">
   <tbody>
     <tr>
       <td></td>
   
         <td><p><%= @book.title %></p></td>
         <td><p><%= @book.body %></p></td>
    
  

         <td><% if @book.user == current_user %>
               <%= link_to "destroy", book_path(@book), method: :delete %>
             <% end %>
         </td> 
   </tr>
 </tbody>
</table>     
</div>